body {
    background-color: #dddddd
}

h1.helvetica-text {
    font-family: Helvetica;
    text-align: center;
    color: rgb(17, 64, 69);
    font-size: large;
    padding: 1em;
    font-style: normal;
}

.entry-form {
    display: block;
    background: white;
    text-align: center;
    border-radius: 10px;
    width:25%;
    margin:auto;
    box-shadow: 0px 0px 5px 2px rgb(185, 185, 185);
}

.entry-form > * {
    margin: 10px 15px;
    box-sizing: border-box;
}

.input-longform {
    resize: vertical;
    width:90%;
    height:10em;
    margin:auto;
    border-radius: 4px;
}

.input-field {
    padding:1em;
    width:90%;
    margin:auto;
    box-sizing: border-box;
}

.button-row {
    width: 100%;
    display: table;
    margin: auto;
}

.span-left {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    padding:1em 1em 1em 3em;
    box-sizing: border-box;
}

.span-right {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    padding:1em 3em 1em 1em;
    box-sizing: border-box;
}

.button-row > span > button {
    background: rgb(18, 50, 88);
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    width: 100%;
    padding: 0.5em 1em;
    margin: auto;
}

.button-row > span > button:hover {
    background-color: rgb(108, 210, 108);
    color: rgb(17, 64, 69);
}
