body {
    background-color: #dddddd;
    font-family: "Arial, sans-serif"
}

article>section {
    padding: 2em;
}

div.section-container {
    background-color: white;
    max-width: 600px;
    margin: 10px auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgb(120, 120, 120);
}

#entry-form>* {
    margin: 10px 15px;
    box-sizing: border-box;
}

.input-longform {
    resize: vertical;
    width: 90%;
    height: 10em;
    margin: auto;
    border-radius: 4px;
}

.input-field {
    padding: 1em;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

.button-row {
    display: flex;
    margin: auto;
}

.button-row > span {
    flex: 1;
    padding: 0.5em 1.5em;
    box-sizing: border-box;
}

.button-row>span>button {
    background: #dddddd;
    color: black;
    font-weight: bold;
    width: 100%;
    padding: 0.75em 1em;
    margin: auto;
}

.button-row>span>button:hover {
    background-color: #333;
    color: white;
}

a.header-button-link,
a.header-button-link:visited {
    padding: 1em;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 150px;
    box-sizing: border-box;
}

.header-button-row {
    max-width: 600px;
    margin: auto;
}

.header-button-outer {
    padding: 0.3em;
}

a.header-button-link:hover,
a.header-button-current {
    background-color: #333;
    color: white;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    width: 150px;
    box-sizing: border-box;
}

#entry-form {
    display: block;
    text-align: center;
}

footer {
    text-align: center;
    margin: auto;
}